name: Build

on:
  workflow_dispatch:
    inputs:
      version:
        required: true
        type: string
  workflow_call:
    inputs:
      version:
        required: true
        type: string

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    strategy:
      matrix:
        # mips64, mips64le
        # cannot UPX compress these versions, so I'm not building for it
        # https://github.com/upx/upx/issues/272#issuecomment-1250010942
        arch: [mips, mipsle, armv6, armv7, arm64, amd64, 386]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.24.2"
          cache: false

      - name: Install UPX
        run: |
          sudo apt-get update
          sudo apt-get install -y upx-ucl

      - name: Build for ${{ matrix.arch }}
        run: ./build.sh ${{ inputs.version }} ${{ matrix.arch }}

      - name: Upload built artifact
        uses: actions/upload-artifact@v4
        with:
          name: build-${{ matrix.arch }}
          path: "*.tar.gz"

  release:
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - name: Download all artifacts
        uses: actions/download-artifact@v4
        with:
          path: ./artifacts

      - name: Create GitHub Release
        uses: ncipollo/release-action@v1
        with:
          artifacts: "./artifacts/**/*.tar.gz"
          tag: v${{ inputs.version }}
          body: |
            Automated build for Tailscale `v${{ inputs.version }}`.

            - [Changelog](https://tailscale.com/changelog)
            - [Source Tag (Github)](github.com/tailscale/tailscale/releases/tag/v${{ inputs.version }})
